<div class="flx">
    <h1>You've got it started!</h1>
    <p>
        Below is a list of tests available. If you were invited to self test please refer to the email sent to you to see which tests you should try out.
    </p>
    <a href="/#/functions/array">Arrays</a>
    <a href="/#/functions/promise">Promises</a>
    <a href="/#/observable">Observables</a>
    <a href="/#/html/carousel">Carousel</a>
    <a href="/#/html/css-position">CSS Positioning</a>
    <a href="/#/html/event-listener"> Event Listener</a>
</div>